.header {
    --darkPink1: #d9a0e5;
    --darkPink2: #c785d4;
    --darkPink3: #5c2468;

    --lightPink: #ffe5fc;

    background-color: #f5c9ef;
    border-bottom: .3rem solid var(--darkPink1);
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;
    height: 4.5rem;

    position: absolute;/*relative*/
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem;
}

.header--fixed{
    position: fixed;/*relative*/
}


.header_logo_link {
    display: inline-block;
}

.header_menuSVG {
    display: none;
    width: 3rem;
    color: var(--darkPink3);
}

.header_nav * {
    list-style: none;
    text-decoration: none;
    color: var(--darkTxtColor);
    text-align: center;
}

.header_nav{
    display: none;

    display: flex;
    align-items: center;
    margin-right: 1rem;

    top: 12.1%;
}

.header_navBg{
    position: fixed;
    background-color:#180044a1;
    top: 12%;
    bottom: 0;
    right: 0;
    left: 100%;
    pointer-events: none;
    transition: all .5s ;
}

.header_navBg--visible{
    left: 0;
}

.header_nav_menu {
    display: flex;
    gap: 2rem;
}

.header_nav_menu a {
    display: block;
}

.header_nav_menu_item {
    position: relative;
    float: left;
}

.header_nav_menu_item>a {
    padding: .5rem 1rem;
    border-radius: 3rem;
    background-color: var(--lightPink);
}

.header_nav_menu_item_subMenu {
    display: none;
    /**/
    position: absolute;
    /**/
    width: 100%;
    z-index: 1;
}

.header_nav_menu_item_subMenu li {
    font-size: .9em;
}

.header_nav_menu_item:hover>.header_nav_menu_item_subMenu {
    display: block;
}

.header_nav_menu_item:hover a {
    background-color: var(--darkPink1);
}

.header_nav_menu_item_subMenu>li:hover a {
    background-color: var(--darkPink2);
}



.header_nav_menu_item_subMenu li:last-of-type a {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

}


.header_nav_menu_item:last-of-type:hover>a:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}


.header_closedMenu{
    width: 3rem;
    height: 3rem;
    display: block;
    position: relative;
    rotate: 45deg;
}

.header_closedMenu::after, 
.header_closedMenu::before{
    content: '';
    position: absolute;
    background-color: var(--darkPink3);
}

.header_closedMenu::after {
    left: 50%;
    width: 13%;
    height: 100%;
    transform: translateX(-50%);
}

.header_closedMenu::before {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 13%;
    width: 100%;
}



@media (width < 600px) {

    .header_nav {
        overflow: hidden;
        position: fixed;
        z-index: 1;
        right: -100%;
        background-color: #f5c9ef;
        margin: 0;
        height: 100vh;
        width: 45vw;
        transition: all .5s;
    }


    .header_nav--visible {
        right: 0;
    }

    .header_nav_menu {
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin-bottom: auto;
    }

    .header_nav_menu_item a {
        border-radius: 0;
        border-bottom: .1rem solid;
    }


    .header_nav_menu_item_subMenu li:last-of-type a {
        border-radius: 0;
    }

    .header_nav_menu_item>a {
        background-color: inherit;
    }

    .header_menuSVG {
        display: block;

    }

    


}