.header {
    --darkPink1: #d9a0e5;
    --darkPink2: #c785d4;
    --darkPink3: #5c2468;

    --lightPink: #ffe5fc;

    background-color: #f5c9ef;
    border-bottom: .3rem solid var(--darkPink1);
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;
    height: 4.54rem;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem;
}

.header--fixed {
    position: fixed;
}


.header_logo_link {
    display: inline-block;
}

.header_menuBtn {
    display: none;
}

.header_menuSVG {
    display: none;
    width: 3rem;
    color: var(--darkPink3);
}

.header_nav * {
    list-style: none;
    text-decoration: none;
    color: var(--darkTxtColor);
    text-align: center;
}

.header_nav {
    display: flex;
    align-items: center;
    top: 12.1%;
}

/**👇👇👇👇👇👇👇👇👇👇👇👇*/

.header_nav_menu {
    display: flex;
    gap: 1rem;
}

.header_nav a {
    background: var(--lightPink);
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: .7rem;
    border-radius: 3rem;
}

.header_nav_menu_item:hover a,
.header_nav_menu_item--extended a,
.header_nav_menu_item a:focus {
    background-color: var(--darkPink1);
}

.header_nav_menu_item {
    position: relative;
}

.header_nav_menu_item--extended a {
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}


.header_nav_menu_item_subMenu {
    position: absolute;
    display: none;
}

.header_nav_menu_item_subMenu a {
    font-size: 85%;
    padding: .5rem .7rem;
}

.header_nav_menu_item_subMenu--visible>li:hover a,
.header_nav_menu_item_subMenu--visible a:focus {
    background-color: var(--darkPink2);
}

.header_nav_menu_item_subMenu--visible {
    display: block;
}

.header_nav_menu_item_subMenu--visible a {
    border-radius: 0;
}

.header_nav_menu_item_subMenu--visible>li:last-of-type a {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}


/*👆👆👆👆👆👆👆👆👆👆*/


.header_navBg {
    position: fixed;
    background-color: #180044a1;
    top: 12%;
    bottom: 0;
    right: 0;
    left: 100%;

    transition: all .5s;
}

.header_navBg--visible {
    left: 0;
}

.header_closedMenu {
    width: 3rem;
    height: 3rem;
    display: block;
    position: relative;
    rotate: 45deg;
}

.header_closedMenu::after,
.header_closedMenu::before {
    content: '';
    position: absolute;
    background-color: var(--darkPink3);
}

.header_closedMenu::after {
    left: 50%;
    width: 13%;
    height: 100%;
    transform: translateX(-50%);
}

.header_closedMenu::before {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 13%;
    width: 100%;
}



@media (width < 600px) {

    .header_nav {
        visibility: hidden;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        right: -100%;
        background-color: #f5c9ef;
        margin: 0;
        height: 100vh;
        width: 45vw;
        transition: all .5s;
    }


    .header_nav--visible {
        visibility: visible;
        right: 0;
    }


    .header_menuSVG,
    .header_menuBtn {
        display: block;

    }

    .header_nav_menu {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-bottom: auto;
    }

    .header_nav_menu a {
        border-radius: 0;
        background: transparent;
        border-bottom: .1rem solid;
    }


    .header_nav_menu_item_subMenu {
        width: 100%;
    }

    .header_nav_menu_item_subMenu>li:last-of-type a {
        border-radius: 0;
    }


}