.categoriesSctn {
  text-align: center;
}

.categoriesSctn > h2 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  font-size: var(--h2FontSize);
}

.categoriesSctn_categoriesCont {
  display: flex;
  justify-content: space-between;
  color: var(--lightTxtColor);
}

.categoriesSctn_btn {
  font-size: var(--txtContentFntSize);
  padding: clamp(0.1rem, 1.5vw, 1.5rem);
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.categoriesSctn_btn--selected {
  background-color: var(--globalDarkPink);
}

.categoriesSctn_btn_img--skeleton {
  background-color: var(--globalDarkPink);
  height: clamp(7.5rem, 20vw, 10rem);
  width: clamp(7.5rem, 20vw, 10rem);
  border-radius: 50%;
  composes: skeletonAnimation from global;
}

.categoriesSctn_btn_title--skeleton {
  width: 100%;
  border-radius: 2rem;
  height: 3rem;
  margin: 1rem 0;
  background-color: var(--globalDarkPink);
  composes: skeletonAnimation from global;
}

.categoriesSctn_btn_img {
  border-radius: 50%;
  width: clamp(4rem, 20vw, 10rem);
  height: clamp(4rem, 20vw, 10rem);
  object-fit: cover;
}

.categoriesSctn_btn_title {
  background-color: var(--globalDarkestPink);
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--lightTxtColor);
}
