.categoriesSctn{
    text-align: center;

}

.categoriesSctn>h2{
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-size: var(--h2FontSize);
}

.categoriesSctn_categoriesCont{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    color: white;
}

.categoriesSctn_categoriesCont_category{
    padding: .7rem;
    border-radius: 5rem 5rem 0 0;
}

.categoriesSctn_categoriesCont_category:first-of-type{
    background-color: var(--globalDarkPink);
}

.categoriesSctn_categoriesCont_category_title{
    background-color: var(--globalDarkestPink);
    border-radius: 1rem;
    padding: .5rem;
}

.categoriesSctn_categoriesCont_img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.categoriesSctn_recipesCont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--globalDarkPink);
    color: white;
    padding: 1rem;
}

.categoriesSctn_recipesCont_recipe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--globalLightPink);
    border-radius: 2rem;
    padding: 1rem 0;

}

.categoriesSctn_recipesCont_recipe_img{
    border-radius: 50%;
    width: 13rem;
    object-fit: cover;
}


.categoriesSctn_recipesCont_recipe_info{
    text-align: left;
    font-size: var(--txtContentFntSize);
    padding: 1rem 3rem;
}

.categoriesSctn_recipesCont_recipe_info h4{
    text-align: center;
    font-size:  var(--subTitlesFntSize);
}


.categoriesSctn_recipesCont_recipe_aditionalInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.categoriesSctn_recipesCont_recipe_aditionalInfo_clock{
    width: 7rem;
}


.categoriesSctn_recipesCont_recipe_aditionalInfo_starsCont{
    display: flex;
    gap: .5rem;
}


.categoriesSctn_recipesCont_recipe_aditionalInfo_starsCont_star{
    width: 2rem;
}