:root{
    --globalLightPink: #e583b4;
    --globalDarkPink: #dd74a8;
    --globalDarkestPink: #d0458a;

}

body{
    background-color: #fae0f7; /*fae0f7*/
    /* overflow-x: hidden; */
}

*{
    padding: 0;
    margin: 0;
}
