:root{
    --globalLightPink: #e583b4;
    --globalDarkPink: #dd74a8;
    --globalDarkestPink: #d0458a;

    --h2FontSize: 2.2rem;
    --subTitlesFntSize: 2rem; /*recetas*/
    --txtContentFntSize: 1.2rem

}

body{
    background-color: #fae0f7; /*fae0f7*/
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
}
