:root{
    --globalLightPink: #e583b4;
    --globalDarkPink: #dd74a8;
    --globalDarkestPink: #d0458a;

    --lightTxtColor: #ffffff;
    --darkTxtColor: #000000;

    --h2FontSize: 2.2rem;
    --subTitlesFntSize: 2rem; /*recetas*/
    --longerSubttlesFntSize: 1.5rem;
    --txtContentFntSize: 1.2rem

}

body{
    background-color: #fae0f7; /*fae0f7*/
    /* overflow-x: hidden; */
    color: var(--darkTxtColor);
}

main{
    margin-top: 4.6rem;
}

*{
    padding: 0;
    margin: 0;
}

button{
    border: none;
    background-color: transparent;
}