.recipesCont,
.recipesCont--leftBrdr,
.recipesCont--rightBrdr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--globalDarkPink);
    color: var(--darkTxtColor);
    padding: 1rem;
    border-radius: 2rem;
}

.recipesCont--rightBrdr {
    border-top-left-radius: 0;
}

.recipesCont--leftBrdr {
    border-top-right-radius: 0;
}


.recipesCont_recipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--globalLightPink);
    border-radius: 2rem;
    padding: 1rem 0;
}

.recipesCont--skeleton {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--globalDarkPink);
    width: min(100%, 90rem);
    border-top-right-radius: 2rem;
    border-bottom-right-radius:2rem;
    border-bottom-left-radius:2rem;
    composes: skeletonAnimation from global;

}

.recipesCont_recipe--skeleton {
    width: 92%;
    border-radius: 2rem;
    height: 40rem;
    background-color: var(--globalLightPink);
    margin: 0 auto;
    composes: skeletonAnimation from global;

}


.recipesCont_recipe_img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: auto 0;
}


.recipesCont_recipe_info {
    text-align: left;
    font-size: var(--txtContentFntSize);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
}

.recipesCont_recipe_info h3 {
    text-align: center;
    font-size: var(--subTitlesFntSize);
    margin: 1.5rem 0;
    background-color: var(--globalDarkestPink);
    color: var(--lightTxtColor);
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem auto;
}


.recipesCont_recipe_aditionalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: var(--txtContentFntSize);
}

.recipesCont_recipe_aditionalInfo_clock {
    width: 7rem;
}


.recipesCont_recipe_aditionalInfo_starsCont {
    display: flex;
    gap: .5rem;
}


.recipesCont_recipe_aditionalInfo_starsCont_star {
    width: 2rem;
}

.recipesCont_btnsCont {
    display: flex;
    justify-content: center;
    gap: .2rem;
}

.recipesCont_btnsCont_btn {
    padding: .5rem 1rem;
    color: currentColor;
    text-decoration: none;
    border-radius: .5rem;
    box-sizing: border-box;
    border: .15rem solid;
}

.recipesCont_btnsCont_btn--selected {
    background-color: white;
    color: var(--globalDarkestPink);
}


@media (width >=1000px) {
    .recipesCont_recipe {
        flex-wrap: nowrap;
        padding: 1rem ;
    }

    .recipesCont_recipe_aditionalInfo {
        order: 3;
        justify-content: center;
        gap: 2rem;
    }
}