.pageHeader {
  background-color: var(--layoutBgColor);
  border-bottom: 0.3rem solid var(--layoutDarkPink1);
  font-size: 1.6rem;

  display: flex;
  justify-content: space-between;
  height: 4.54rem;

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 1rem;
}

.pageHeader--fixed {
  position: fixed;
}

.pageHeader_logoLink {
  display: inline-block;
}

.pageHeader_menuBtn {
  display: none;
}

.pageHeader_menuSVG {
  display: none;
  width: 3rem;
  color: var(--layoutDarkPink3);
}

.pageHeader_nav * {
  list-style: none;
  text-decoration: none;
  color: var(--darkTxtColor);
  text-align: center;
}

.pageHeader_nav {
  display: flex;
  align-items: center;
  top: 12.1%;
}

.pageHeader_menu {
  display: flex;
  gap: 1rem;
}

.pageHeader_nav a {
  background: var(--layoutLightPink);
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 3rem;
}

.pageHeader_item:hover a,
.pageHeader_item--extended a,
.pageHeader_item a:focus {
  background-color: var(--layoutDarkPink1);
}

.pageHeader_item {
  position: relative;
}

.pageHeader_item--extended a {
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.pageHeader_subMenu {
  position: absolute;
  display: none;
}

.pageHeader_subMenu a {
  font-size: 85%;
  padding: 0.5rem 0.7rem;
}

.pageHeader_subMenu--visible > li:hover a,
.pageHeader_subMenu--visible a:focus {
  background-color: var(--layoutDarkPink2);
}

.pageHeader_subMenu--visible {
  display: block;
}

.pageHeader_subMenu--visible a {
  border-radius: 0;
}

.pageHeader_subMenu--visible > li:last-of-type a {
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.pageHeader_navBg {
  position: fixed;
  background-color: #180044a1;
  top: 10.7%;
  bottom: 0;
  right: 0;
  left: 100%;
  transition: all 0.5s;
}

.pageHeader_navBg--visible {
  left: 0;
}

.pageHeader_closedMenu {
  width: 3rem;
  height: 3rem;
  display: block;
  position: relative;
  rotate: 45deg;
}

.pageHeader_closedMenu::after,
.pageHeader_closedMenu::before {
  content: '';
  position: absolute;
  background-color: var(--layoutDarkPink3);
}

.pageHeader_closedMenu::after {
  left: 50%;
  width: 13%;
  height: 100%;
  transform: translateX(-50%);
}

.pageHeader_closedMenu::before {
  top: 50%;
  transform: translate(-50%, -50%);
  height: 13%;
  width: 100%;
}

@media (width < 600px) {
  .pageHeader_nav {
    top: 10.7%;
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    right: -100%;
    background-color: #f5c9ef;
    margin: 0;
    height: 100vh;
    width: 45vw;
    transition: all 0.5s;
  }

  .pageHeader_nav--visible {
    visibility: visible;
    right: 0;
  }

  .pageHeader_menuSVG,
  .pageHeader_menuBtn {
    display: block;
  }

  .pageHeader_menu {
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-bottom: auto;
  }

  .pageHeader_menu a {
    border-radius: 0;
    background: transparent;
    border-bottom: 0.1rem solid;
  }

  .pageHeader_subMenu {
    width: 100%;
  }

  .pageHeader_subMenu > li:last-of-type a {
    border-radius: 0;
  }
}
