.pageFooter {
  border-top: 0.3rem solid var(--layoutDarkPink1);
  background-color: var(--layoutBgColor);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  font-size: var(--txtContentFntSize);
  color: var(--lightTxtColor);
  padding: 1rem 0 0 0;
  color: var(--darkTxtColor);
}

.pageFooter svg {
  width: 1.5rem;
  float: left;
}

.pageFooter_infoCont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.pageFooter_sectn {
  width: 14rem;
}

.pageFooter_sectn h2 {
  font-size: var(--subTitlesFntSize);
  text-align: center;
  background-color: var(--layoutLightPink);
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 1rem 0 1.5rem 0;
}

.pageFooter_division {
  display: block;
}

.pageFooter_division a {
  display: flex;
  word-break: break-word;
  margin: 2rem;
}
