.singleProduct {
  margin: 5rem 0;
}

.singleProduct_h2 {
  text-align: center;
  margin: 1rem;
  font-size: var(--h2FontSize);
}

.singleProduct_recipe {
  color: var(--lightTxtColor);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--globalDarkPink);
  position: relative;
}

.singleProduct_img {
  width: 100%;
  height: auto;
}

.singleProduct_info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: var(--txtContentFntSize);
  background-color: var(--globalDarkPink);
}

.singleProduct_title {
  font-size: var(--h3FontSize);
  color: var(--lightTxtColor);
  margin: 0.5rem auto;
  background-color: var(--globalDarkestPink);
  padding: 0.8rem 2rem;
  border-radius: 1.5rem;
}

.singleProduct_steps {
  background-color: var(--globalLightPink);
  color: var(--darkTxtColor);
  padding: 2rem;
  border-radius: 2rem;
}

@media (width >= 700px) {
  .singleProduct_img {
    width: 40vw;
    object-fit: cover;
  }

  .singleProduct_recipe {
    background: transparent;
    flex-wrap: nowrap;
  }
}

@media (width >= 1140px) {
  .singleProduct_info {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
  }

  .singleProduct_img {
    width: clamp(25rem, 50vw, 45rem);
  }

  .singleProduct_recipe {
    background-color: transparent;
    padding: 0 2rem;
  }

  .singleProduct_title {
    margin: 0 auto 1rem auto;
  }

  .singleProduct_h2 {
    margin: 2.5rem 1rem 2rem 1rem;
  }
}
